<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>

          <dt>Rating</dt>
          <% if @product.reviews.average('rating') == nil %>
              <dd>None<dd>
            <% else %>
              <% arr = Array.new(5) %>
              <% count = @product.reviews.average('rating') %>
              <% for i in 0..4 %>
              <% count - 1 >= 0 ? arr[i] = 'star' : arr[i] = 'star-o' %>
              <% count -= 1  %>
              <% end %>
              <dd><%= fa_icon arr[0] %> <%= fa_icon arr[1] %> <%= fa_icon arr[2] %> <%= fa_icon arr[3] %> <%= fa_icon arr[4] %></dd>
            <% end %>  

          </dl>
        </div>

        <div class="col-sm-8 jumbotron">
          <% if current_user %>
            <h3>Create a new review</h3>
              <%= form_for [@product, @review] do |f| %>
                <div class="field">
                  <%= f.label :rating %><br>
                  <%= f.select :rating, ['1', '2', '3', '4', '5'] %>
                </div><br>
                <div class="field">
                  <%= f.label :description %><br>
                  <%= f.text_field :description, class: 'form-control', :rows => 10  %>
                </div><br>
                  <div>
                    <%= f.submit 'Create Review', class: 'btn btn-primary btn-lg' %>
                  </div>
                  <% end %>
                  <% else %>
                  <h3>Please login to leave a review</h3>
              <% end %>
          </div>

          
              <% @product.reviews.reverse.each do |review| %>
                <div class="col-sm-8 jumbotron" style="float:right;">
                <dd><h4><%= review.user.name %></h4></dd>
                <dd><i><%= time_tag(review.created_at) %></i></dd>
                <dd>
                <% arr = Array.new(5) %>
                <% count = review.rating %>
                <% for i in 0..4 %>
                <% count - 1 >= 0 ? arr[i] = 'star' : arr[i] = 'star-o' %>
                <% count -= 1  %>
                <% end %>
                <dd><%= fa_icon arr[0] %> <%= fa_icon arr[1] %> <%= fa_icon arr[2] %> <%= fa_icon arr[3] %> <%= fa_icon arr[4] %></dd>
                </dd><br>
                <dd><%= review.description %></dd><br>
                <% if review.user == current_user %>
                  <dd><%= button_to ('DELETE'), [@product, review], method: :delete %></dd>
                  <% end %>  
                  </div> 
              <% end %>
              
              
          

                


    </div>

  </article>

</section>
